* {
    padding: 0px;
    margin: 0px;
}

.clear_fix {
    float: none;
    clear: both;
}

body {
    background-image: url(https://programacion.net/files/article/20160921060932_CSS3.jpg);
    background-attachment: fixed;
}

.flex {
    display: flex;
    flex-direction: row;
}

.contenedor {
    display: flexbox;
    width: 70%;
    margin: 0px auto;
    margin-top: 50px;
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 5px rgb(11, 1, 68);

}

h2,h3{
    margin-left: 30px;
}

.titulo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    letter-spacing: 4px;
    line-height: 80px;
    background: #052aa5;
    color: white;
    text-align: center;
    width: 685px;
    height: 80px;
    text-transform: uppercase;
    border-radius: 5px;
    margin-top: 25px;
}

.unad {
    width: 170px;
    margin-left: 55px;
    border-radius: 5px;
}

.menu {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(66, 66, 66);
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-radius: 5px;
}

.menu ul {
    line-height: 50px;
}

.menu ul li {
    height: 46px;
    display: inline-block;
    transition: all 300ms;
}

.menu ul select {
    margin: 10px;
}

.menu ul li :hover {
    background: #052aa5;
}

.menu a {
    display: block;
    color: white;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;

}

.option {
    border-radius: 15px;
    padding: 4px;
}

.proposito {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #acbdf1;
    border-radius: 5px;
    box-shadow: 0px 0px 2px #090a0a;
    height: auto;
    margin-bottom: 5px;
    padding: 10px;
}

.proposito_1 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #acbdf1;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #090a0a;
    height: auto;
    margin-bottom: 5px;
    padding: 10px;
    margin-top: 5px;
}

.proposito h2 {
    font-size: 30px;
    color: rgb(66, 66, 66);
}

.proposito p {
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 22px;
    text-align: justify;
}

.proposito span {

    font-size: 20px;
    font-weight: 600;
}

.proposito ul li {
    margin-left: 20px;
}

.proposito_1 ul li {
    margin-left: 20px;
    font-style: italic;
}

.proposito ol li {
    margin-left: 20px;
}

.span_1 {
    margin-left: 300px;
}

#posts {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #c6cff0;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    box-shadow: 0px 0px 5px #090a0a;
}

#posts_1 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #c6cff0;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: 0px 0px 5px #090a0a;
    margin-top: 6px;
}

.post {
    padding: 10px;
}

.post h2 {
    font-size: 30px;
    color: rgb(66, 66, 66);
}

.post p {
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 22px;
    text-align: justify;
}

.post ol li {
    margin-left: 70px;
}

.button_more {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100px;
    display: block;
    padding: 15px;
    background: #052aa5;
    color: white;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    border-radius: 5px;
}

.button_more:hover {
    background: rgb(66, 66, 66);
}

.post h3 {
    font-size: 25px;
    color: rgb(66, 66, 66);
}

#about {
    padding: 10px;
}

#about h2 {
    font-size: 30px;
    color: rgb(66, 66, 66);
}

#about iframe {
    margin-top: 10px;
    border-radius: 5px;
}

.select {
    margin-top: 12px;
}

.select_1 {
    background-color: #1c51f0;
    border-radius: 25px;
    width: 85%;
}

.select_1 p {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: rgb(253, 253, 253);
    padding: 5px;
    text-align: center;
}

.centrado {
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img_1 {
    margin-top: 10px;
    width: 200px;
}

.img_2 {
    width: 350px;
    margin-bottom: 15px;
}

.img_3 {
    width: 230px;
    height: 120px;
    margin-bottom: 20px;
}

.img_4 {
    margin-top: 25px;
    margin-bottom: 15px;
    width: 400px;
}

.img_5{
    width: 85%;
    height: 480px;
}

.ejemplo {
    background-color: white;
    padding: 15px;
    border-left: #052aa5 solid 5px;
    border-radius: 5px;
}

.ejemplo_1 {
    background-color: white;
    padding: 15px;
    border-left: #052aa5 solid 5px;
    border-radius: 5px;
    font-size: 14px;
}

.ejemplo_2 {
    background-color: white;
    padding: 15px;
    border-left: #052aa5 solid 5px;
    border-radius: 5px;
    font-size: 13px;
}

.scroll {
    display: block;
    overflow-y: scroll;
    scroll-behavior: smooth;
    box-shadow: 0px 0px 5x rgb(100, 4, 155);
    width: 85%;
    height: 170px;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
}

.par{
    width: 85%;
}

.margen_der{
    margin-left: 50px;
    text-align: justify;
    width: 80%;
}

.videos{
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.timeline_twiter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 30px;
}



/* 
        .titulo img{
            width: 200px;
        }

        .menu ul li h1 {
            margin-right: 100px;
        }

        .selectores {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-auto-rows: 50%;
            grid-template-areas:
                "a a a a b b b b"
                "c c c c d d d d";
            align-items: start;
        }

        .tipos {
            text-align: justify;
            grid-area: a;
            width: 600px;
            margin-right: 20px;
            border: 1px outset;      
            padding: 30px;
            background: rgb(255, 237, 158);
            padding-bottom: 38px; 
        }

        .universal{
            text-align: justify;
            grid-area: b;
            border: 1px outset;      
            padding: 10px;
            background: rgb(255, 237, 158);
            margin-top: 15px;
            
        }
        .universal img{
            width: 400px;
            height: 200px;
            margin-top: 20px;
            margin-left: 10px;
        }

        .frameworks {
            width: 100%;
        }

        .imagenes img {
            width: 150px;
            height: 80px;
        }

        .mockup {
            width: 800px;
        }

        footer {
            height: 70px;
            background: rgb(159, 148, 223);
            line-height: 70px;
        } */