* {
    padding: 0px !important;
    margin: 0px !important;
}

.clear_fix {
    float: none ;
    clear: both ;
}

body {
    background-image: url(https://programacion.net/files/article/20160921060932_CSS3.jpg);
    background-attachment: fixed;
}
.flex {
    display: flex;
    flex-direction: row;
}
.contenedor {
    display: flex !important;
    flex-direction: column !important;
    width: 75% !important;
    margin: 0px auto !important;
    margin-top: 50px !important;
    background: white !important;
    padding: 20px !important;
    box-shadow: 0px 0px 5px rgb(11, 1, 68) !important;

}
h2,h3{
    text-align: center;
}
#titulo{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 80px;
    font-size: 23px;
    font-weight: bold;
}
#titulo_1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 80px;
    font-size: 23px;
    font-weight: bold;
}
.titulo {
    width: 690px;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: 11px !important;
    letter-spacing: 4px;
    line-height: 80px !important;
    background: #052aa5;
    color: white;
    text-align: center;
    height: 80px;
    text-transform: uppercase;
    border-radius: 5px;
    margin-top: 25px !important;
}

.unad {
    width: 170px !important;
    margin-left: 55px !important;
    border-radius: 5px !important;
}

.menu {
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif !important;
    background: rgb(66, 66, 66) !important;
    width: 100% !important;
    text-transform: uppercase !important;
    margin-bottom: 20px !important;
    border-radius: 5px;
}

.menu ul {
    line-height: 50px !important;
}

.menu ul li {
    height: 46px !important;
    display: inline-block !important;
    transition: all 300ms !important;
}

.menu ul select {
    margin: 10px !important;
    padding: 6px !important;
}

.menu ul li :hover {
    background: #052aa5;
    border-radius: 5px;
}

.menu a {
    display: block !important;
    color: white;
    text-decoration: none;
    padding-left: 30px !important;
    padding-right: 30px !important;

}
.option {
    border-radius: 15px !important;
    padding: 4px;
    font-size: 15px !important;
}

.proposito {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #acbdf1;
    border-radius: 5px;
    box-shadow: 0px 0px 2px #090a0a;
    height: auto;
    margin-bottom: 5px !important;
    padding: 10px;
}

.proposito_1 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #acbdf1;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #090a0a;
    height: auto;
    margin-bottom: 5px !important;
    padding: 10px;
    margin-top: 5px !important;
}

.proposito h2 {
    font-size: 30px;
    color: rgb(66, 66, 66);
}

.proposito p {
    margin-top: 10px;
    margin-bottom: 20px !important;
    line-height: 22px;
    text-align: justify;
}

.proposito span {

    font-size: 20px;
    font-weight: 600;
}

.proposito ul li {
    margin-left: 20px;
}

.proposito_1 ul li {
    margin-left: 20px;
    font-style: italic;
}

.proposito ol li {
    margin-left: 20px !important;
}

.span_1 {
    margin-left: 300px;
}

#posts {
    font-family: Arial, Helvetica, sans-serif !important;
    background-color: #c6cff0 !important;
    border-radius: 5px !important;
    display: grid !important;
    grid-template-columns: repeat(3, 1fr) !important;
    box-shadow: 0px 0px 5px #090a0a;
}

#posts_1 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #c6cff0;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: 0px 0px 5px #090a0a;
    margin-top: 6px !important;
}

.post {
    padding: 10px !important;
}

.post h2 {
    font-size: 30px !important;
    color: rgb(66, 66, 66) !important;
}

.post p {
    margin-top: 10px !important;
    margin-bottom: 20px !important;
    line-height: 22px !important;
    text-align: justify !important;
}

.post ol li {
    margin-left: 70px !important;
}

.button_more {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    width: 70px !important;
    display: block !important;
    padding: 15px !important;
    background: #052aa5;
    color: white;
    text-decoration: none;
    font-size: 10px;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    border-radius: 5px;
}

.button_more:hover {
    background: rgb(66, 66, 66);
}

.post h3 {
    font-size: 25px;
    color: rgb(66, 66, 66);
}

#about {
    padding: 10px !important;
}

#about div{
    margin-top: 10px !important;
    margin-bottom: 30px !important;
}

#about h2 {
    font-size: 30px;
    color: rgb(66, 66, 66);
}

#about iframe {
    margin-top: 10px !important;
    border-radius: 5px !important;
}

.select {
    margin-top: 12px !important;
}

.select_1 {
    background-color: #1c51f0;
    border-radius: 25px !important;
    width: 85% !important;
}

.select_1 p {
    font-family: 'Times New Roman', Times, serif !important;
    font-style: italic !important;
    color: rgb(253, 253, 253);
    padding: 5px !important;
    text-align: center !important;
}

.centrado {
    margin-top: 10px !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.img_1 {
    margin-top: 10px !important;
    width: 200px !important;
}

.img_2 {
    width: 350px;
    margin-bottom: 15px !important;
}

.img_3 {
    width: 230px;
    height: 120px;
    margin-bottom: 20px !important;
}

.img_4 {
    margin-top: 25px !important;
    margin-bottom: 7px !important;
    width: 400px !important;
}

.img_5{
    width: 85%;
    height: 480px;
}

.ejemplo {
    background-color: white;
    padding: 15px !important;
    border-left: #052aa5 solid 5px;
    border-radius: 5px;
    margin-left: 20px !important;
}

.ejemplo_1 {
    background-color: white;
    padding: 15px !important;
    border-left: #052aa5 solid 5px;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 20px !important;
    
}

.ejemplo_2 {
    background-color: white;
    padding: 15px !important;
    border-left: #052aa5 solid 5px;
    border-radius: 5px;
    font-size: 13px;
    margin-left: 20px !important;
}

.scroll {
    display: block;
    overflow-y: scroll;
    scroll-behavior: smooth;
    box-shadow: 0px 0px 5px rgb(100, 4, 155);
    width: 85%;
    height: 170px;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
}

.par{
    width: 85% !important;
}

.margen_der{
    margin-left: 50px !important;
    text-align: justify !important;
    width: 80% !important;
}

.videos{
    display: block !important;
    margin-right: auto !important;
    margin-left: auto !important;
}
.timeline_twiter{
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 50%;
    margin-top: 20px !important;
}
.time{
    height: 80px;
    line-height: 80px !important;
}
.card img{
    width: 250px;
    height: 150px;
    margin-bottom: 20px !important;
    margin-top: 20px !important;
}
.card {
    display: block !important;
    width: 630px !important;
    height: auto !important;
    background-color:  #c0cbf0 ;
}
.col-lg-6{
    border-radius: 5px !important;
}
.destacado:hover{
    color: rgb(253, 253, 253);
    border: 5px solid black;
    background-color: rgb(19, 19, 241);
}
.destacado_1:hover{
    color: rgb(35, 1, 99);
}
.letra{
    transition: all 0.6s;
    text-align: center;
}
.letra:hover{
    font-size: 70px;
}
.letra_1{
    transition: all 0.5s;
    font-size: 40px;
    text-align: center;
}
.letra_1:hover{
    text-shadow: 2px 2px 6px black;
    cursor:cell;
}
